{
  "singleQuote": true,
  "arrowParens": "avoid",
  "singleAttributePerLine": true,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-css-order"
  ]
}
